
.animationContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(69, 137, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.animationLogo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 265px;
    height: 323.1px;
    transform: translate(-50%, -50%);
    transition: all 1s ease;
}
