* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 16px;
}

span {
  display: inline-block;
}

:root {
  --inter-font: "Inter", sans-serif;
}

body {
  min-height: 100vh;
}

.blue-btn a {
  text-decoration: none;
  color: #fff;
  font-size: 23px;
}

.blue-btn {
  background-color: #4589ff;
  padding: 16px 10px;
  border-radius: 8px;
  border: none;
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  height: 60px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.blue-btn:hover {
  background-color: #005dff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.blue-btn:active {
  background-color: #fff;
  color: #4589ff;
}

.blue-btn:active a {
  background-color: #fff;
  color: #4589ff;
}

.white-btn {
  padding: 10px 18px;
  display: flex;
  border: 1px solid #647188;
  background-color: #fff;
  border-radius: 8px;
  cursor: pointer;
  align-items: center;
}

.white-btn:hover {
  border: 2px solid #4589ff;
  box-shadow: 0 4px 8ox 0 rgba(0, 0, 0, 0.2);
  color: #4589ff;
}

.white-btn:active {
  border: 1px solid #005dff;
  color: #005dff;
}

.headline {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 16px;
  text-decoration-color: #4589ff;
  text-decoration-thickness: 3px;
}

.main-login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  border-radius: 30px;
  padding: 48px 65px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.08);
  width: 552px;
  margin: 0 auto;
  margin-top: 65px;
  gap: 39px;
}

.login-label input {
  border: none;
  outline: none;
  font-size: 19px;
}


.password-label:focus-within {
  border-bottom: 1px solid #005dff;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.policy-container {
  display: flex;
  gap: 16px;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  bottom: 43px;
  left: 50%;
  transform: translateX(-50%);
}

.policy-container a {
  text-decoration: none;
  color: #42526e;
  cursor: pointer;
}

.policy-container a:hover {
  color: #005dff !important;
}

.logo {
  padding-top: 80px;
  padding-left: 77px;
}

.login-label {
  border-bottom: 1px solid #d1d1d1;
  padding: 12px 21px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 422px;
}

.login-label input {
  cursor: pointer;
}

.sign-up-text {
  font-size: 23px;
}

.sign-up-container {
  display: flex;
  align-items: center;
  gap: 35px;
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.checkbox {
  appearance: none;
  background-image: url(/assets/img/checkbox/checkbox-border-blue.png);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.checkbox:hover {
  background-color: #edf2fa;
  border-radius: 12px;
  width: 24px;
  height: 24px;
}

.checkbox:checked {
  background-image: url(/assets/img/checkbox/checkbox-checked-blue.png);
}

.successfully-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff9a;
}

.message {
  font-size: 23px;
  background-color: #4589ff;
  color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
  padding: 23px 19px;
}

.error-message {
  font-family: var(--inter-font);
  font-size: 13px;
  color: #ff8190;
}

.error-message-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.headerBoard {
  height: 136px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 39px;
  background-color: #4589ff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}

.logoHeader{
  height: 56px;
}

.logoutLink {
  border-radius: 8px;
  padding: 8px 16px;
  display: flex;
  gap: 8px;
  color: #42526e;
  width: 132px;
  justify-content: flex-end;
}

.profileLogoutMenu {
  background-color: #fff;
  padding: 10px;
  border-radius: 20px 0 20px 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  margin-top: 136px;
  display: none;
  z-index: 999;
  width: 152px;
}

.dropdownIconClose {
  align-items: center;
  cursor: pointer;
  padding: 2px;
}

.dropdownIconCheck {
  align-items: center;
  cursor: pointer;
  padding: 2px;
}

.subtask-duo-icon-container {
  display: none;
}

.subtask-duo-icon-container.show {
  display: flex;
}

.custom-dropdown-assigned {
  display: none;
}

.custom-dropdown-assigned.show {
  display: block;
}

.dropdown-icon.rotate {
  transform: rotate(180deg);
}

.taskCardDetailSeperator {
  height: 24px;
  width: 1px;
  background-color: #d1d1d1;
}

.subtaskIconContainer {
  display: flex;
  flex-direction: row;
  gap: 4px;
  position: absolute;
  right: 16px;
  bottom: 6px;
  justify-content: space-between;
}

.profileIconWrap {
  height: 56px;
  width: 56px;
  background-color: #fff;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.profileIconInnerRing {
  height: 50px;
  width: 50px;
  border: 3px solid #4589ff;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoutLink:hover {
  background-color: #d2e3ff;
}

#contactMenu {
  color: #42526e;
  padding: 8px 30px;
  border-radius: 8px;
  gap: 8px;
  display: flex;
  align-items: center;
  width: 180px;
}

#asideTop {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  padding: 42px 23px;
  width: 232px;
}

.menuLinks{
  color: #42526e;
  padding: 8px 30px;
  border-radius: 8px;
  gap: 8px;
  display: flex;
  align-items: center;
  width: 180px;
}

.menuLinks:hover,
.active {
  background-color: #d2e3ff;
}

.logo-header {
  height: 56px;
}

.wrap-profile-icon {
  height: 56px;
  width: 56px;
  background-color: #fff;
  border-radius: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.inner-profile-icon {
  height: 50px;
  width: 50px;
  border: 2px solid #4589ff;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-profile-icon:hover {
  background-color: #b5dbff;
}

.dropdownContact .contentContact {
  display: none;
}

.dropdownContact .contentContact.show {
  display: block;
}

#profile-initialen {
  color: #005dff;
  font-size: 19px;
  font-weight: 700;
}

.header-project-name {
  cursor: pointer;
}

.headerMenu {
  color: #fff;
  display: flex;
  align-items: center;
  width: 433px;
  justify-content: flex-end;
  gap: 8px;
}

.help-icon {
  cursor: pointer;
}

.help-icon:hover {
  transform: scale(1.1);
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  margin: 0 auto;
  align-items: center;
}

.menu-container a {
  text-decoration: none;
  color: #42526e;
  width: 186px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 8px 30px;
}

.menu-container a:hover {
  background-color: #d2e3ff;
  border-radius: 8px;
}

#sidebar {
  display: flex;
  flex-direction: column;
  width: 232px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
  justify-content: space-between;
  height: calc(100vh - 96px);
}

.policy-menu-container a {
  color: #42526e;
  text-decoration: none;
}

.policy-menu-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 0 auto;
}

.active {
  background-color: #d2e3ff;
  border-radius: 8px;
}

.logout-container {
  background-color: #fff;
  border-radius: 20px 0 20px 20px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  right: 4px;
  top: 97px;
}

.logout-container a {
  text-decoration: none;
  color: #42526e;
  padding: 8px 16px;
  border-radius: 8px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.logout-container a:hover {
  background-color: #e3eeff;
}

.help-link {
  display: none !important;
}

.bottom-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 16px;
  box-shadow: 0 -1px 6px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.hidden{
  display: none;
}

.bottom-menu a {
  text-decoration: none;
  color: #42526e;
}

.summary-active span {
  color: #4589ff;
}

.summary-active img {
  content: url(/assets/img/icons/menu/summary-blue.png);
}

.board-active span {
  color: #4589ff;
}

.board-active img {
  content: url(/assets/img/icons/menu/board-blue.png);
}

.contacts-active span {
  color: #4589ff;
}

.contact-active img {
  content: url(/assets/img/icons/menu/contacts-blue.png);
}

.add-task-active span {
  color: #4589ff;
}

.add-task-active img {
  content: url(/assets/img/icons/menu/add-task-blue.png);
}

.bottom-menu span {
  display: flex !important;
}

@media (max-width: 1360px){
  .headerBoard{
    height: 110px;
  }
  
  .header-headline{
    display: none;
  }

  .help-icon{
    display: none;
  }

  .main-board{
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
  }

  .bottom-menu {
    display: flex !important;
    align-items: center;
    justify-content: space-around;
    height: 83px;
  }

  .menu-link{
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
  }

  span{
    margin-top: 10px;
  } 

  .asideTop{
    justify-content: space-around;
    flex-direction: row;
    width: 100% !important;
    height: 83px;
    padding: 0 !important;
    align-items: center;
  }

  .sidebar {
    flex-direction: row;
    align-items: center;
    padding: 15px 0px;
    justify-content: space-around;
    gap: 0px;
    width: 100%;
    height: 83px;
    margin-top: 140px;
  }

  .search-btn-container{
    width: 100%;
  }

  .menuLinks{
    flex-direction: column;
  }

  .board-task-headline {
    justify-content: space-between;
    width: 250px !important;
    margin-left: 10px;
  }
  
 
}

@media (max-width: 1200px){
  .search-btn-container{
    margin-left: 125px !important;
  }
}

@media (max-width: 1000px){
  .headerBoard{
    height: 64px;
  }
  
  .logoHeader {
    height: 40px;
  }

  .profile-icon-wrap{
    width: 40px;
    height: 40px;
  }

  .profileIconInnerRing{
    width: 34.44px;
    height: 34.44px;
  }

  .search-btn-container{
    margin-left: 0px !important;
  }

  .board-blue-btn{
    display: none !important;
  }

  .searchbar{
    width: 290px !important;
    margin-left: 24px;
    margin-bottom: 24px;
  }

  .imgSearchBar{
    padding: 0 !important;
    padding-left: 5px !important;
  }

  .bottom-menu {
    height: 64px;
  }

  .board-task-headline {
    justify-content: space-between;
    width: 250px !important;
    margin-left: 10px;
  }

  .span{
    margin-top: 5px;
  } 
}

@media(max-width: 780px){
  .task-card-detail-container{
    width: 400px !important;
  }

  .task-card-detail-form-container{
    width: 400px !important;
  }

  .task-card-detail-form{
    width: 350px !important;
  }

  .label{
    width: 300px !important;
  }

  .detailedTaskTitle{
    width: 280px !important;
  }

  .label-description{
    width: 300px !important;
  }

  .label-prio{
    width: 300px !important;
  }

  #task-card-detail-profile-assigned{
    width: 280px !important;
  }

  .subtask-item-li{
    width: 280px !important;
  }

  .subtask-container{
    width: 300px !important;
  }

  .prio-btn-container{
    flex-direction: column;
    justify-content: center;
    align-items: start !important;
    width: 250px;
  }
}

@media(max-width: 450px){
  .task-card-detail-container{
    width: 300px !important;
  }

  .task-card-detail-form-container{
    width: 300px !important;
  }

  .task-card-detail-form{
    width: 250px !important;
  }

  .label{
    width: 200px !important;
    font-size: 15px;
  }

  .detailedTaskTitle{
    width: 180px !important;
  }

  .label-description{
    width: 200px !important;
  }

  .label-prio{
    width: 200px !important;
  }

  #task-card-detail-profile-assigned{
    width: 180px !important;
  }

  .subtask-item-li{
    width: 180px !important;
  }

  .subtask-container{
    width: 200px !important;
  }

  .placeholderFontSize{
    font-size: 10px !important;
  }

  .prio-btn-container{
    width: 150px;
  }
}