<div class="asideTop">
  <a  id="summaryMenu" href="../html/summary.html" class="menuLinks">
    <img id="summaryIcon" src="../assets/img/aside-icon/summary-icon.svg" />Summary</a
  >
  <a id="addTaskMenu" href="../html/addTask.html" class="menuLinks" 
    ><img id="addTaskIcon" src="../assets/img/aside-icon/add-task-icon.svg" />Add Task</a
  >
  <a id="boardMenu" href="../html/board.html" class="menuLinks" 
    ><img id="boardIcon" src="../assets/img/aside-icon/board-icon.svg" />Board</a
  >
  <a id="contactMenu" href="../html/contact.html" class="menuLinks" 
    ><img id="contactsIcon" src="../assets/img/aside-icon/contact-icon.svg" />Contacts</a
  >
</div>
<div class="aside-bottom">
  <a id="dataProtectionMenu" href="../html/dataProtection.html" class="policy-links custom-policy-link">Privacy Policy</a>
  <a id="imprintMenu" href="../html/imprint.html" class="policy-links custom-policy-link" >Legal notice</a>
</div>