<div id="asideTop" class="aside-top">
    <a href="../html/summary.html" id="summaryMenu" class="menuLinks" onclick="toggleHighlight(this)"
      ><img  id="summaryIcon" src="../assets/img/aside-icon/summary-icon.svg" />Summary</a
    >
    <a href="../html/addTask.html" id="addTaskMenu" class="menuLinks" onclick="toggleHighlight(this)"
      ><img class="asideImg" id="addTaskIcon" src="../assets/img/aside-icon/add-task-icon.svg" />Add Task</a
    >
    <a href="../html/board.html" id="boardMenu" class="menuLinks" onclick="toggleHighlight(this)"
      ><img class="asideImg" id="boardIcon" src="../assets/img/aside-icon/board-icon.svg" />Board</a
    >
    <a href="../html/contact.html" id="contactMenu" class="menuLinks" onclick="toggleHighlight(this)"
      ><img class="asideImg" id="contactsIcon" src="../assets/img/aside-icon/contact-icon.svg" />Contacts</a
    >
  </div>
  <div class="aside-bottom">
    <a href="../html/dataProtection.html" class="policy-links custom-policy-link" onclick="toggleHighlight(this)">Privacy Policy</a>
    <a href="../html/imprint.html" class="policy-links custom-policy-link" onclick="toggleHighlight(this)">Legal notice</a>
  </div>