<img src="../assets/img/header/join-logo.svg" class="logoHeader" />
<div class="headerMenu">
  <span class="header-headline" onclick="showLogOut()">Kanban Project Management Tool</span>
  <a href="../html/help.html"><img src="../assets/img/header/help.svg" class="help-icon" /></a>
  <div class="profile-icon-wrap" onclick="showLogOut()">
    <div class="profile-icon-inner-ring">
      <div id="profile-name"></div>
    </div>
  </div>
</div>
<div id="profile-logout-menu">
  <a id="helpHeaderMenu" href="#" class="logout-link d-none">Help</a>
  <a href="../html/imprint.html" class="logout-link">Legal notice</a>
  <a href="../html/dataProtection.html" class="logout-link">Privacy Policy</a>
  <a href="#" class="logout-link" onclick="logout()">Log out</a>
</div>