<img src="../assets/img/header/join-logo.svg" class="logo" />
<div class="header-menu">
  <span class="header-headline" onclick="showLogOut()">Kanban Project Management Tool</span>
  <a href="../html/help.html"><img src="../assets/img/header/help.svg" class="help-icon" /></a>
  <div class="profile-icon-wrap" onclick="showLogOut()">
    <div class="profile-icon-inner-ring">
      <div id="profile-name"></div>
    </div>
  </div>
</div>
<div id="profile-logout-menu" class="dropdownMenuLogout">
  <a id="helpHeaderMenu" href="/html/help.html" class="logoutLinkHelp">Help</a>
  <a id="logout-linkImprint" href="../html/imprint.html" class="logout-link">Legal notice</a>
  <a id="logout-linkData" href="../html/dataProtection.html" class="logout-link">Privacy Policy</a>
  <a id="logout-linkLogOut" href="#" class="logout-link" onclick="logout()">Log out</a>
</div>








<!--  <button class="btn-addTask">
    Add Task<img src="/assets/img/plus-icon.svg" class="btn-icon"  />
  </button>
  <button class="btn-createTask position-test">
    Create task<img src="/assets/img/check.svg" class="btn-icon" />
  </button>
  <button class="btn-addContact position-test">
    Create task<img src="/assets/img/person-add-icon.svg" class="btn-icon" />
  </button>
  <button class="btn-cancel position-test">
    Cancel<img src="/assets/img/cancel-default-icon.svg" class="btn-icon" />
  </button> -->