<img src="../assets/img/header/join-logo.svg" class="logoHeader" />
<div class="headerMenu">
  <span class="header-headline" onclick="showLogOut()">Kanban Project Management Tool</span>
  <a href="../html/help.html"><img src="../assets/img/header/help.svg" class="help-icon" /></a>
  <div class="profile-icon-wrap" onclick="showLogOut()">
    <div class="profileIconInnerRing">
      <div id="profile-name"></div>
    </div>
  </div>
</div>
<div id="profile-logout-menu" class="profileLogoutMenu">
  <a id="helpHeaderMenu" href="/html/help.html" class="logoutLinkHelp">Help</a>
  <a href="../html/imprint.html" class="logoutLink">Legal notice</a>
  <a href="../html/dataProtection.html" class="logoutLink">Privacy Policy</a>
  <a href="#" class="logoutLink" onclick="logout()">Log out</a>
</div>